<h1>Logged Activities</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Starting Hour</th>
    <th>Ending Hour</th>
    <th>Notes</th>
  </tr>
 
  <% @logs.each do |log| %>
    <tr>
      <td><%= log.activityname %></td>
      <td><%= log.timestart.to_s(:time) %></td>
      <td><%= log.timeend.to_s(:time) %></td>
      <td><%= log.notes %></td>
      <td><%= link_to 'Show', log_path(log) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Log an Activity', new_log_path%>
<br>
<%= link_to 'Go home', root_path %>