
<div class="row justify-content-center pt-4">
  <ul class="list-group col-6">
    <li class="list-group-item">
      <h5>Activity name:</h5>
      <%= @log.activityname %>
    </li>
    <li class="list-group-item">
      <h5>Start time:</h5>
      <%= @log.timestart.to_s(:time) %>
    </li>
    <li class="list-group-item">
      <h5>Ending time:</h5>
      <%= @log.timeend.to_s(:time) %>
    </li>
    <li class="list-group-item">
      <h5>Notes:</h5>
      <%= @log.notes %>
    </li>
    <li class="list-group-item">
      <h5>Created at:</h5>
      <%= @log.created_at.strftime("%B %e %Y at %T") %>
    </li>
  </ul>
</div>

  <div class="my-padding pt-4">
    <%= link_to '<button class="btn btn-danger" type="button" style="margin-bottom: .5em;">Delete</button>'.html_safe, log_path(@log.id), method: :delete, data: { confirm: "Are you sure you want to delete the logged activity #{@log.activityname}?" } %>
    <%= link_to '<button class="btn btn-secondary" type="button" style="margin-bottom: .5em;">Logbook</button>'.html_safe, logs_path %>
    <%= link_to '<button class="btn btn-secondary" type="button" style="margin-bottom: .5em;">Go home</button>'.html_safe, root_path %>
  </div>