<p>
  <strong>Activity name:</strong>
  <%= @log.activityname %>
</p>
 
<p>
  <strong>Start time:</strong>
  <%= @log.timestart %>
</p>

<p>
  <strong>Ending time:</strong>
  <%= @log.timeend %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @log.notes %>
</p>
<%= link_to 'Back', logs_path %>