<p>
  <strong>Activity name:</strong>
  <%= @log.activityname %>
</p>
 
<p>
  <strong>Start time:</strong>
  <%= @log.timestart.to_s(:time) %>
</p>

<p>
  <strong>Ending time:</strong>
  <%= @log.timeend.to_s(:time) %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @log.notes %>
</p>

<%= link_to 'Delete', log_path(@log.id), method: :delete, data: { confirm: "Are you sure you want to delete the logged activity #{@log.activityname}?" } %>
<br>
<%= link_to 'Back', logs_path %>