<h1 class="custom-header">Logged Activities today</h1>

<%= render 'showcase' %>

<div class="my-padding pt-4">
  <%= link_to '<button class="btn btn-secondary" type="button">Log an activity</button>'.html_safe, new_log_path %>
  <%= link_to '<button class="btn btn-secondary" type="button">Show all logged activities</button>'.html_safe, logs_path %>
  <%= link_to '<button class="btn btn-secondary" type="button">Create an activity</button>'.html_safe, new_activity_path %>
  <%= link_to '<button class="btn btn-secondary" type="button">Go home</button>'.html_safe, root_path %>
</div>

