<!DOCTYPE html>
<html>
  <head>
    <title>TrackMe</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <%= link_to 'TrackMe', root_path, class: "navbar-brand"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <%= link_to "Create activity", new_activity_path, :class => current_class?(new_activity_path) + " nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Show activities', activities_path, :class => current_class?(activities_path) + " nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Log an activity', new_log_path, :class => current_class?(new_log_path) + " nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'Full log', logs_path, :class => current_class?(logs_path) + " nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to 'HelpMe!', helpme_path, :class => current_class?(helpme_path) + " nav-link"%>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
